<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="game-controller-outline" class="icon"></ion-icon>Game Controls
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h2>PC</h2>
<div>
  <h4>Actions</h4>
  <table id="tablef">
    <tr>
      <th>Function</th>
      <th>Default Key Binding</th>
    </tr>
    <tr>
      <td>Move Forward</td>
      <td>W</td>
    </tr>
    <tr>
      <td>Move Backward</td>
      <td>S</td>
    </tr>
    <tr>
      <td>Move Left</td>
      <td>A</td>
    </tr>
    <tr>
      <td>Move Right</td>
      <td>D</td>
    </tr>
    <tr>
      <td>Elemental Skill</td>
      <td>E</td>
    </tr>
    <tr>
      <td>Elemental Burst</td>
      <td>Q</td>
    </tr>
    <tr>
      <td>Jump</td>
      <td>Space Bar</td>
    </tr>
    <tr>
      <td>Pick Up/Interact</td>
      <td>F</td>
    </tr>
    <tr>
      <td>Basic Attack</td>
      <td>Mouse Left Click</td>
    </tr>
    <tr>
      <td>Sprint</td>
      <td>Mouse Right Click</td>
    </tr>
    <tr>
      <td>Change Character</td>
      <td>1,2,3,4</td>
    </tr>
  </table>
</div>

<div>
  <h4>Menus</h4>
  <table id="tablef">
    <tr>
      <th>Function</th>
      <th>Default Key Binding</th>
    </tr>
    <tr>
      <td>Open Inventory</td>
      <td>B</td>
    </tr>
    <tr>
      <td>Open Character Screen</td>
      <td>C</td>
    </tr>
    <tr>
      <td>Open Map</td>
      <td>M</td>
    </tr>
    <tr>
      <td>Open Paimon Menu</td>
      <td>Esc</td>
    </tr>
    <tr>
      <td>Open Adventurer Hand Book</td>
      <td>F1</td>
    </tr>
    <tr>
      <td>Open Co-Op Screen</td>
      <td>F2</td>
    </tr>
    <tr>
      <td>Open wish Screen</td>
      <td>F3</td>
    </tr>
    <tr>
      <td>Open Battle Pass</td>
      <td>F4</td>
    </tr>
    <tr>
      <td>Open Events Menu</td>
      <td>F5</td>
    </tr>
    </table>
</div>

  <h2>Playstation</h2>
  <div>
    <h4>Actions</h4>
    <table id="tablef">
      <tr>
        <th>Function</th>
        <th>Default Key Binding</th>
      </tr>
      <tr>
        <td>Movement</td>
        <td>Left Stick</td>
      </tr>
      <tr>
        <td>Elemental Skill</td>
        <td>R2</td>
      </tr>
      <tr>
        <td>Elemental Burst</td>
        <td>Triangle</td>
      </tr>
      <tr>
        <td>Jump</td>
        <td>Cross</td>
      </tr>
      <tr>
        <td>Pick Up/Interact</td>
        <td>Square</td>
      </tr>
      <tr>
        <td>Basic Attack</td>
        <td>Circle</td>
      </tr>
      <tr>
        <td>Sprint</td>
        <td>R1</td>
      </tr>
      <tr>
        <td>Change Character</td>
        <td>Up,Down,Left,Right</td>
      </tr>
    </table>
  </div>
  
  <div>
    <h4>Menus</h4>
    <table id="tablef">
      <tr>
        <th>Function</th>
        <th>Default Key Binding</th>
      </tr>
      <tr>
        <td>Open Inventory</td>
        <td>B</td>
      </tr>
      <tr>
        <td>Open Character Screen</td>
        <td>C</td>
      </tr>
      <tr>
        <td>Open Map</td>
        <td>M</td>
      </tr>
      <tr>
        <td>Open Paimon Menu</td>
        <td>Esc</td>
      </tr>
      <tr>
        <td>Open Adventurer Hand Book</td>
        <td>F1</td>
      </tr>
      <tr>
        <td>Open Co-Op Screen</td>
        <td>F2</td>
      </tr>
      <tr>
        <td>Open wish Screen</td>
        <td>F3</td>
      </tr>
      <tr>
        <td>Open Battle Pass</td>
        <td>F4</td>
      </tr>
      <tr>
        <td>Open Events Menu</td>
        <td>F5</td>
      </tr>
    </table>
  </div>

</ion-content>