<ion-content>

  <ion-card class="container">
    <ion-card-header>
      <ion-label>Sign Up</ion-label>
    </ion-card-header>
    <ion-card-content>
    <ion-input placeholder="Name"></ion-input>
    <ion-input placeholder="Username"></ion-input>
    <ion-input placeholder="email"></ion-input>
    <ion-input placeholder="Password"></ion-input>
    <ion-input placeholder="Comfirm Password"></ion-input>
    <ion-button color="tertiary" (click)="login()">
      <ion-label>Sign Up</ion-label>
    </ion-button>
  </ion-card-content>
  </ion-card>
  
</ion-content>
