<ion-content>

  <ion-card class="container">
    <ion-card-header>
      <ion-label>Sign in</ion-label>
    </ion-card-header>
    <ion-card-content>
    <ion-input placeholder="Username"></ion-input>
    <ion-input placeholder="Password"></ion-input>
    <ion-button color="tertiary" (click)="login()">
      <ion-label>Login</ion-label>
    </ion-button>
  </ion-card-content>
  </ion-card>
  <ion-button color="light" fill="clear" (click)="signup()">No Account Yet? Click Here</ion-button>
  
</ion-content>
