<ion-header>
  <ion-toolbar>
    <ion-item>
      <img class="logo" src="../../../assets/char/genshinlogo.png">
    <ion-button fill="clear" slot="end" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>
          <ion-badge slot="end" color="danger">new</ion-badge>
          <h2 class="paimon">Paimon</h2>
          <h4 class="username">@GenshinImpact</h4>
        </ion-label>
        <ion-avatar slot="start">
          <img class="paimondp" src="../../../assets/char/paimon.jpg">
        </ion-avatar>
      </ion-item>
      <ion-label>

        UPDATE 2.1
        <br>

        Dear Travelers,
        To ensure all Travelers have the best-possible Genshin Impact experience, our developers will soon begin
        performing update maintenance. After this is complete, the game will update to a new version.


        After Travelers install the new game client, they will be able to continue playing. It is recommended to install
        the update over a Wi-Fi connection owing to the large file size.
        While the update maintenance is in progress, Travelers will be unable to log in to the game. Please take note of
        the update time and schedule your game time accordingly to avoid losing your progress. We hope Travelers will
        bear with us during the disruption.> <br>


          〓Update Schedule〓
          Update maintenance begins 2021/09/01 06:00 (UTC+8) and is estimated to take 5 hours.
          <br>


          〓How to Update Game Client〓
          PC: Close the game, open the Genshin Impact Launcher, and click Update.
          iOS: Open the App Store and tap Update.
          Android: Open the game and follow the directions on-screen.
          PlayStation®4 and PlayStation®5: Highlight Genshin Impact from the Home Screen, press the "OPTIONS" button,
          and select "Check for Update."
          Please do not hesitate to contact Customer Service if you encounter any issues installing the new version. We
          will do our very best to resolve the issue.
          <br>
          〓Update Details〓
          I. New Inazuma Islands — Seirai Island and Watatsumi Island
          ◇ New Islands: After the Version 2.1 update, two new islands, Seirai Island and Watatsumi Island in the
          Inazuma region will be available.
          ◇ Unlock Criteria:
          • Reach Adventure Rank 30 or above
          • Complete the Archon Quest "Chapter II: Act I - The Immovable God and the Eternal Euthymia"

      </ion-label>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>
          <h2 class="paimon">Paimon</h2>
          <h4 class="username">@GenshinImpact</h4>
        </ion-label>
        <ion-avatar slot="start">
          <img class="paimondp" src="../../../assets/char/paimon.jpg">
        </ion-avatar>
      </ion-item>
      <ion-label>

        UPDATE 2.0
        <br>

        Dear Travelers,
        Below are the details of the Version 2.0 update "The Immovable God and the Eternal Euthymia" and the update
        compensation.
        <br>
        〓Compensation〓
        Maintenance Compensation: Primogems ×300 (60 Primogems per hour the servers are down)
        Issue Fix Compensation: Primogems ×300 (please refer to the relevant compensation mail for more details)
        <br>

        〓Scope of Compensation〓
        Maintenance Compensation: Travelers who reach Adventure Rank 5 or above before 2021/07/21 06:00 (UTC+8).
        Please claim before the end of Version 2.0.
        Issue Fix Compensation: Travelers who reach Adventure Rank 5 and above before 2021/07/21 06:00 (UTC+8).
        Please claim the compensation mail before 2021/07/24 06:00 (UTC+8).
        Our developers will distribute compensation to Travelers via in-game mail within 5 hours after the update
        maintenance is finished. The mail will expire after 30 days, so don't forget to claim the attached compensation
        in time.
        <br>

        〓Update Schedule〓
        Update maintenance begins 2021/07/21 06:00 (UTC+8) and is estimated to take 5 hours.
        <br>

        〓How to Update Game Client〓
        PC: Close the game, open the Genshin Impact Launcher, and click Update.
        iOS: Open the App Store and tap Update.
        Android: Open the game and follow the directions on-screen.
        PlayStation®4 and PlayStation®5: Highlight Genshin Impact from the Home Screen, press the "OPTIONS" button, and
        select "Check for Update."
        Please do not hesitate to contact Customer Service if you encounter any issues installing the new version. We
        will do our very best to resolve the issue.
        <br>

        〓Update Details〓
        I. New Region
        New Region - Inazuma
        ◇ New Areas: In Version 2.0, three areas, Narukami Island, Kannazuka, and Yashiori Island in the Inazuma region
        will be available.
        ◇ Unlock Criteria:
        • Adventure Rank 30 or above
        • Complete the Archon Quest "Chapter II: Act I - The Immovable God and the Eternal Euthymia"

      </ion-label>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>
          <h2 class="paimon">Paimon</h2>
          <h4 class="username">@GenshinImpact</h4>
        </ion-label>
        <ion-avatar slot="start">
          <img class="paimondp" src="../../../assets/char/paimon.jpg">
        </ion-avatar>
      </ion-item>
      <ion-label>

        UPDATE 1.7
        <br>
        Fixed a bug where Minor cosmetic
        Addressed some UI issues.
        Fixed missing audio related issue.
        Fixed SFX and Animation issues throughout the game.


      </ion-label>

    </ion-card-content>
  </ion-card>

</ion-content>